@charset "utf-8";

@import
	url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800')
	;

<
link href ="https: //fonts.googleapis.com /css?family=Nanum+Gothic
	 &display =swap" rel ="stylesheet "> /* 초기화 */ html {
	overflow-y: scroll
}

body {
	margin: 0;
	padding: 0;
	font-size: 0.75em;
	font-family: 'Nanum Gothic', sans-serif;
	background: #f3f3f3;
	height: 100%;
}

html, h1, h2, h3, h4, h5, h6, form, fieldset, img {
	margin: 0;
	padding: 0;
	border: 0
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-family: 'Nanum Gothic', sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

li, dt, dd, ol {
	margin: 0;
	padding: 0
}

ol {
	list-style-position: inside
}

legend {
	position: absolute;
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -9999em;
	overflow: hidden
}

label, input, button, select, img {
	vertical-align: middle
}

input, button {
	margin: 0;
	padding: 0;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1em
}

button, input[type="submit"] {
	cursor: pointer
}

textarea, select {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1em
}

select {
	margin: 0
}

p {
	margin: 0;
	padding: 0;
	word-break: break-all
}

pre {
	overflow-x: scroll;
	font-size: 1.1em
}

a:link, a:visited {
	color: #000;
	text-decoration: none
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* https://ko.learnlayout.com/box-sizing.html */

/* 크기에 따라서 스크롤 */
html {
	overflow-y: scroll;
}

head {
	color: -internal-root-color;
}

/* body 기본 */
body {
	margin: 0;
	padding: 0;
	font-size: 0.75em;
	font-family: 'Nanum Gothic', sans-serif;
	background: #f3f3f3;
	height: 100%;
	width: 100%;
}
/* h2 기본 */
h2 {
	font-size: 1.083em;
	font-weight: bold;
	margin: 10px 0
}

h3 {
	font-size: 1.25em;
	font-weight: bold;
}

/* 레이아웃 */
#hd h1 {
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

section {
	width: 1500px;
}
/* head부분 목록  */
#hd_top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #D1DFE8;
	z-index: 1000;
}
/* #hd_top:after{display:block;visibility:hidden;clear:both;content:""} */
#logo {
	background: #BBCDDB;
	height: 100%;
	float: left;
	width: 220px;
	padding: 15px 0 15px 50px;
	text-align: center;
}

#btn_gnb {
	background: url(../img/admin_img/menu.png) 50% 50% no-repeat #8FB0CA;
	height: 50px;
	width: 50px;
	background-size: 25px 25px;
	border: 0;
	position: absolute;
}
/* #btn_gnb.btn_gnb_open{background:url(./menu.png) 50% 50% no-repeat #C97D73;width:50px; background-size:25px 25px;
    height:50px;border:0;position:absolute;top:0;left:0;text-indent:-999px;overflow:hidden} */

/* 목록의 버튼 */
#tnb {
	float: right;
	padding: 10px
}

/* #tnb ul:after{display:block;visibility:hidden;clear:both;content:""} */
#tnb li {
	float: left;
	position: relative;
	margin-left: 3px
}

#tnb a {
	color: black;;
	padding: 0 10px;
	display: block;
	line-height: 30px;
}

/* 목록의 버튼의 서비스부분 */
#tnb .tnb_service {
	background-color: #D1DFE8;
	border-radius: 3px;
	color: black;
	padding: 0 10px;
	text-align: left;
	height: 30px;
	line-height: 30px;
}

#tnb .tnb_service:hover {
	background-color: #BBCDDB
}

/* 목록의 버튼의 효과 */
#tnb button {
	width: 100px;
	border: 0;
	border-radius: 3px;
	background: #D1DFE8;
	color: black;
	padding: 0 30px 0 10px;
	text-align: left;
	height: 30px;
	position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#tnb button span {
	display: block;
	text-indent: -999px;
	overflow: hidden;
	background: #8FB0CA;
	width: 30px;
	border-radius: 3px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(../img/admin_img/settings.png) 50% 50% no-repeat #BBCDDB
}

#tnb button:hover {
	background: #BBCDDB
}

/* 목록의 버튼의 관리자 버튼의 목록들*/
#tnb .tnb_mb_area {
	display: nene;
	background: #D1DFE8;
	width: 100px;
	position: absolute;
	padding: 5px;
	margin-top: 1px;
}

#tnb .tnb_mb_area a {
	padding: 0
}

#tnb .tnb_mb area li {
	float: none;
}

/* 모록의 버튼의 홈버튼 */
#tnb .tnb_home {
	background-color: #D1DFE8;
	background: url(../img/admin_img/settings.png) no-repeat 50% 50%;
	width: 30px;
	height: 30px;
	overflow: hidden;
	text-indent: -999;
	border-radius: 5px;
}

#tnb .tnb_home:hover {
	background-color: #BBCDDB
}

/* GNB  Left Side Bar */
/* 기본효과 */
#gnb {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 220px;
	height: 100%;
	padding-top: 50px;
	z-index: 999
}

/* 사이드바 목록효과들 */
#gnb h2 {
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}

#gnb .gnb_ul {
	position: relative;
	height: 100%;
	background: #ebebeb;
	width: 50px
}

#gnb .gnb_li {
	border-bottom: 1px solid #ddd
}

#gnb .gnb_li button {
	background-color: #ebebeb;
	border: 0;
	width: 50px;
	height: 50px;
	text-indent: -999px;
	overflow: hidden;
}

#gnb .gnb_li .btn_op {
	background: url() 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .on .btn_op {
	background: url() 50% 50% no-repeat #fff;
	background-size: 25px 25px;
}

/* 사이드바 버튼들에 들어가는 각종 메뉴들 */
#gnb .gnb_li .btn_op.menu-100 {
	background: url(../img/admin_img/settings.png) 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .on .btn_op.menu-100 {
	background: url(../img/admin_img/settings.png) 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .gnb_li .btn_op.menu-200 {
	background: url(../img/admin_img/user.png) 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .on .btn_op.menu-200 {
	background: url(../img/admin_img/user.png) 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .gnb_li .btn_op.menu-300 {
	background: url(../img/admin_img/post.png) 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .on .btn_op.menu-300 {
	background: url(../img/admin_img/post.png) 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .gnb_li .btn_op.menu-400 {
	background: url(../img/admin_img/shop.png) 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .on .btn_op.menu-400 {
	background: url(../img/admin_img/shop.png) 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .gnb_li .btn_op.menu-500 {
	background: url(../img/admin_img/web.png) 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .on .btn_op.menu-500 {
	background: url(../img/admin_img/web.png) 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .gnb_li .btn_op.menu-900 {
	background: url(../img/admin_img/box.png) 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .on .btn_op.menu-900 {
	background: url(../img/admin_img/box.png) 50% 50% no-repeat #ebebeb;
	background-size: 25px 25px;
}

#gnb .gnb_li button:hover {
	background-color: #f3f3f3
}

/* 사이드바 메뉴에 하위 메뉴들을 보기좋게 오른쪽에서 보여주되 겹치게  */
#gnb .gnb_oparea {
	display: none;
	position: absolute;
	top: 0;
	left: 50px;
	background: #fff;
	height: 100%;
	width: 170px;
	padding: 20px;
	border-right: 1px solid #dbdbdb;
	-webkit-box-shadow: 2px 0 2px rgba(150, 150, 150, 100.1);
	-moz-box-shadow: 2px 0 2px rgba(150, 150, 150, 0.1);
	box-shadow: 2px 0 2px rgba(150, 150, 150, 0.1);
}

#gnb .on .gnb_oparea {
	display: block
}

#gnb .gnb_oparea h3 {
	margin-bottom: 10px;
	line-height: 18px;
	font-size: 1.17em
}

#gnb .gnb_oparea li {
	line-height: 28px
}

#gnb .gnb_oparea li a {
	color: #555
}

#gnb .gnb_oparea li a:hover, #gnb .gnb_oparea li .on {
	color: #BBCDDB;
}

#gnb.gnb_small .gnb_oparea {
	display: none;
}

#gnb.gnb_small .gnb_li:hover .gnb_oparea {
	display: block;
}

.gnb_small .gnb_ul {
	display: block;
}

/* 각종 내용들에 들어갈 곳에 기본적인 효과*/
#container {
	padding: 0 0 0 220px;
	margin-top: 85px;
	height: 100%;
	background: #ffffff;
	min-width: 1200px;
}

#container.container-small {
	padding-left: 75px
}

#container_wr {
	padding: 25px;
	min-height: 500px
}

#container_title {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	line-height: 50px;
	font-size: 1.5em;
	padding: 0 20px;
	padding-left: 240px;
	border-bottom: 1px solid #ddd;
	background: #fff;
	z-index: 99
}

#container.container-small #container_title {
	padding-left: 70px
}

.tbl_wrap {
	padding: 20px
}

/* 테이블 */
table {
	clear: both;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table caption {
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}

table td {
	line-height: 22px;
}

tfoot th, tfoot td {
	border: 1px solid #d5d5d5;
	background: #eeeeee;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

.tbl_wrap {
	margin: 0 0 10px;
	padding: 0;
}

/* thead 한줄 테이블 */
.tbl_head01 {
	
}

.tbl_head01 table {
	clear: both;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0
}

.tbl_head01 thead th {
	background: #6f809a;
	color: #fff;
	border: 1px solid #60718b;
	font-weight: normal;
	text-align: center;
	padding: 8px 5px;
	font-size: 0.92em
}

.tbl_head01 thead th a {
	color: #fff
}

.tbl_head01 thead input {
	vertical-align: top
} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 thead a {
	color: #383838;
	text-decoration: underline
}

.tbl_head01 tbody th {
	border: 1px solid #d6dce7;
	padding: 5px;
	text-align: center
}

.tbl_head01 tbody td {
	border: 1px solid #d6dce7;
	padding: 5px;
	text-align: center
}

.tbl_head01 tbody tr:nth-child(even) {
	background: #eff3f9
}

.tbl_head01 tbody td .frm_input {
	width: 100%;
}

.tbl_head01 tbody td select {
	width: 100%
}

.tbl_head01 table .tbl_input {
	height: 27px;
	line-height: 25px;
	border: 1px solid #d5d5d5;
	width: 100%
}

.tbl_head01 table select {
	height: 27px;
	line-height: 25px;
	width: 100%;
}

/* 페이지 내 안내문 */
.local_desc {
	background: #eaeaea;
	padding: 10px 20px;
	margin: 10px 0;
	line-height: 1.5em
}

.local_desc01 {
	margin: 10px 0 10px;
	padding: 10px 20px;
	border: 1px solid #f2f2f2;
	background: #f9f9f9
}

.local_desc01 strong {
	color: #ff3061
}

.local_desc01 a {
	text-decoration: underline
}

.local_desc02 {
	margin: 10px 0;
	min-width: 960px
} /* 주로 온라인 서식 관련 안내 내용에 사용 */
.local_desc02 p {
	padding: 0;
	line-height: 1.8em
}

.new_win .local_sch, .new_win .local_cmd, .new_win .local_desc01,
	.new_win .local_desc02, .new_win .local_ov {
	margin: 10px
}

/*  본문 바로가기 */
#to_content a {
	z-index: 100000;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden
}

#to_content a:focus, #to_content a:active {
	width: 100%;
	height: 70px;
	background: #fff;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	line-height: 3.1em
}

.text_box {
	font-family: 'Nanum Gothic', sans-serif;
}

.box1 {
	width: 230px;
	height: 60px;
	background-color: #BBCDDB;
	display: inline-block;
	margin-right: -7.5px;
	border: 1px;
	border-color: #F9E7E5;
	padding-top: 10px;
	margin-top: 12px;
	position: relative;
	border-radius: 15px 15px 0 0;
}

.box1 p {
	text-align: center;
	font-size: 16px;
	padding-top: 12px;
	color: #000000;
	margin: 3px;
}

.box2 {
	width: 230px;
	height: 60px;
	background-color: white;
	display: inline-block;
	margin-right: -7.5px;
	border-color: #BBCDDB;
	padding-top: 10px;
	margin-top: 15px;
	position: relative;
	border-radius: 15px 15px 0 0;
}

.box2 p {
	text-align: center;
	font-size: 16px;
	padding-top: 12px;
	color: black;
	margin: 3px;
}

.btn00 {
	width: 220px;
	height: 70px;
	background-color: white;
	outline: 0;
	border: 1px solid darkgray;
}

.btn00_1 {
	width: 33.1%;
	height: 120px;
	background-color: white;
	outline: 0;
	border: 1px solid #BBCDDB;
	font-size: 20px;
	line-height: 30px;
	background: #BBCDDB
}

.btn00_2 {
	width: 24.8%;
	height: 120px;
	background-color: white;
	outline: 0;
	border: 1px solid #BBCDDB;
	font-size: 20px;
	line-height: 30px;
	background: #BBCDDB
}

button span.zma {
	font-size: 1.4em;
}

button span.wkrdma {
	font-size: 0.9em;
	float: left;
	margin-left: 10px;
	margin-top: -15px
}

.btn0 {
	width: 25%;
	height: 80px;
	background-color: #BBCDDB;
	display: inline-block;
	font-size: 30px;
	position: relative;
	border-radius: 10px 10px 10px 10px;
	border: 1;
	color: black;
	margin-top: -20px;
	word-wrap: break-word;
}

.btn01 {
	width: 25%;
	height: 80px;
	background-color: white;
	display: inline-block;
	font-size: 30px;
	border-color: #BBCDDB;
	position: relative;
	border-radius: 10px 10px 10px 10px;
	border: 2;
	color: black;
	margin-top: -20px;
	word-wrap: break-word;
}

a:visited {
	background-color: #ffffff;
}

.col-sm-9 hr {
	border: 2px solid #BBCDDB;
	position: relative;
	top: -20px;
}

/* 버튼 색  */
.btn23 {
	height: 25px;
	width: 85px;
	border: 0.5;
	font-size: 15px;
	background-color: #fdfdfd;
	border-radius: 7px 7px 7px 7px;
	outline: 0;
	border: 1px solid darkgray;
}

.btn24 {
	height: 35px;
	width: 85px;
	border: 0.5;
	font-size: 15px;
	background-color: #fdfdfd;
	border-radius: 3px 3px 3px 3px;
	outline: 0;
	border: 1px solid darkgray;
}

.selected {
	background: #bbcddb;
}

.impormation {
	font-size: 10;
}

tr .td1 {
	width: 150px;
	text-align: center;
	background-color: #BBCDDB;
	height: 50px;
	color: black;
	font-size: 15px;
}

tr .td2 {
	height: 50px;
	background-color: #ffffff;
	width: 700px;
	text-align: left;
	font-size: 15px;
}

.tr1 {
	background-color: whitesmoke;
	height: 25px;
}

.tr2 {
	background-color: white;
	height: 25px;
}

.tr1 .td3 {
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 15px;
}

.tr1 .td4 {
	width: 200px;
	text-align: center;
	font-size: 15px;
}

.tr2 .td3 {
	text-align: center;
}

.btn12 {
	
}

.btn1 {
	height: 50px;
	width: 150px;
	border: 0;
	font-size: 15px;
	background-color: #BBCDDB;
	color: black;
	border-radius: 3px 3px 3px 3px;
	margin-top: 10px;
	outline: 0;
}

.btn2 {
	height: 50px;
	width: 150px;
	border: 0.5;
	font-size: 15px;
	background-color: #fdfdfd;
	margin-left: 300px;
	border-radius: 3px 3px 3px 3px;
	margin-top: 10px;
	outline: 0;
	border: 1px solid darkgray;
}

.btn22 {
	height: 35px;
	width: 150px;
	border: 0.5;
	font-size: 15px;
	background-color: #fdfdfd;
	border-radius: 3px 3px 3px 3px;
	outline: 0;
	border: 1px solid darkgray;
}

.btn1_2 {
	height: 50px;
	width: 150px;
	border: 0.5;
	font-size: 15px;
	background-color: #fdfdfd;
	border-radius: 3px 3px 3px 3px;
	margin-top: 10px;
	outline: 0;
	border: 1px solid darkgray;
}

.btn3 {
	height: 30px;
	width: 85px;
	border: 0;
	font-size: 12px;
	background-color: #BBCDDB;
	border-radius: 3px 3px 3px 3px;
	outline: 0;
}

.btn4 {
	height: 30px;
	width: 135px;
	border: 0;
	font-size: 12px;
	background-color: #BBCDDB;
	border-radius: 3px 3px 3px 3px;
	outline: 0;
}
.btn4_rest {
	height: 30px;
	width: 135px;
	border: 0;
	font-size: 12px;
	background-color: #aaaaaa;
	border-radius: 3px 3px 3px 3px;
	outline: 0;
}

.btn5 {
	height: 100%;
	border: 0;
	width: 15.8%;
	font-size: 15px;
}

.text1 {
	width: 100%;
	height: 100%;
}

.text2 {
	width: 84.2%;
	height: 100%;
}

.text3 {
	width: 300px;
	height: 35px;
}

.text4 {
	width: 150px;
	height: 35px;
}

.config01 p {
	text-align: right;
	margin-right: 0;
	margin-top: -20px;
}

.search {
	width: 150px;
	height: 35px;
	margin-left: 10px;
}

.search2 {
	width: 300px;
	height: 35px;
	margin-left: 10px;
}

.box_3 {
	width: 30%;
	height: 120px;
	background-color: #BDBDBD;
	display: inline-block;
	margin-right: -6.5px;
	padding-top: 10px;
}

.box_3 p {
	text-align: center;
	font-size: 200%;
	padding-top: 20px;
	color: FFFFFF;
	margin: 5px;
}

.box_4 {
	width: 22.5%;
	height: 120px;
	background-color: #BDBDBD;
	display: inline-block;
	margin-right: -6.5px;
	padding-top: 10px;
}

.box_4 p {
	text-align: center;
	font-size: 200%;
	padding-top: 20px;
	color: FFFFFF;
	margin: 5px;
}

.btn42 {
	float: left;
	width: 100%
}

.btn42:last-of-type {
	text-align: right;
}