/* 초기화 */
* {margin:0px; padding:0px;}
ul,ol,li {list-style:none;}
a {text-decoration:none; outline:0;}
img {vertical-align:top;}

/* 아이디/비밀번호 찾기 */
.content{
    margin: auto;
    text-align: center;
}

.table td{
    padding: 0px 10px 12px 10px;
}

.table{
    text-align: center;
    margin: auto;
    width: 300px;
    border: 1px solid #aaaaaa;
    border-collapse: collapse;
}

.textbox{
    margin: 15px 5px -5px 5px;
    padding-left: 5px;
    width: 285px;
    height: 30px;
    border: 1px solid #aaaaaa;
}
.text1{
    vertical-align: bottom;
    margin: 15px 2px 0px 2px;
    background-color: #EEEEEE;
    height: 30px;
    font-size: 13px;
}
.text2{ /*본인인증 웅앵 부분*/
    margin : 20px 10px 0px 5px;
    text-align: left;
    font-size: 12px;
    color: #999999;
}

.id_button{
    font-size: 12px;
    width: 290px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid white; 
    background-color: #CEB172; 
    color: white; 
}

.login_join{
    text-align: center;
    margin: auto;
    width: 300px;
    padding: 10px 0px 0px 0px;
    font-size: 13px;
}

a:link {
    color : black;
}
a:visited {
    color : black;
}
a:hover {
    color: rgb(170, 141, 14);
}