@charset "UTF-8";
  /* 페이지 */
    .liked_goods_page{
        text-align: center;
        width: 70%;
    }

    .pagination{
        list-style: none;
        display: inline-block;
        padding: 0;
        margin-top: 20px;
    }

    .pagination li{
        display: inline;
        text-align: center;
    }

    .pagination a{
        float: left;
        display: block;
        font-size: 14px;
        text-decoration: none;
        padding: 5px 12px;
        color: #96a0ad;
        line-height: 1.5;
    }

    .page_fisrt{
        margin-right: 15px;
    }

    .page_last{
        margin-left: 15px;
    }

    .page_fisrt:hover, .last:hover, .left:hover, .right:hover, .page_last:hover{
        color: #DFB1AB;
    }

    .pagination a.active{
        cursor: default;
        color: #ffffff;
    }

    .pagination a:active{
        outline: none;
    }

    .modal .num{
        margin-left: 3px;
        padding: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
    }

    .modal .num:hover{
        background-color: #DFB1AB;
        color: #ffffff;
    }

    .modal .num.active, .modal .num.active{
        background-color: #DFB1AB;
        cursor: pointer;
    }

    .arrow-left{
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid blue;
    }
