
/* 초기화 */
* {
    margin:0px; padding:0px;
    font-family: 'Nanum Gothic', sans-serif;
}
ul,ol,li {list-style:none;}
a {text-decoration:none; outline:0;}
img {vertical-align:top;}


 /* 데스크톱 */	
    .point_title_div{
    height : 60px;
    padding-top: 3em ;
    }
    .point_title{
        text-align: center;
    }
    .recent_point_box{
        width : 902px;
        height : 230px;
        position : relative;
        left:50%;
        margin-left: -451px;;
    }
    .recent_point_title{
        margin-left: 1em;
        margin-bottom : 0.5em;
        font-weight: normal;
    }
    .recent_point_half{
        width : 450px;
        height : 180px; 
        margin-right: 1px;
        margin-top: 10px;
        float:left;
        background :#D1DFE8;
    }
    .recent_point_half h1{
        color:#e0513e;
        float:right;
        font-size : 24px;
        position : relative;
       	top : 16px;
       	left : 20px;
    }
    
    .span_black{
    	color : gray;
    	font-weight : lighter;
    	font-size: 15px;	
    }
    .point_detail_title{
        position: relative;
        left : 50%;
        width : 130px;
        margin-left: -65px;
        height : 22px;
        top : 30%;
    }
    .point_detail_letter{
    	position : relative;
    	top : 0px;
    	width: 180px;
    	font-size : 18px;
    	font-weight: 500;
    	color: #555555;
    	
    }
    .point_detail{
        position: relative;
        left : 50%;
        width : 70px;
        margin-left: -35px;
        top : 20%;
    }
    /*.recent_point_p{   
        font-size :1.4em;
        position : relative;
        top : 35px;
        left: 30px;
        float:right;
    }*/
    .point_chart_center{
	    width: 380px;
	    height: 150px;
	    position: relative;
	    top: 27%;
	    left: 57%;
	    margin-left: -160px;
	    font-size: 15px;
    }
    .point_chart_li1{
        width: 300px;
        height : 30px;
        float:left;
    }

    .history_point_box{
        clear: both;
        width : 900px;
        height : 473px;
        position :relative;
        left : 50%;
        margin-left: -450px;
    }
    .history_point_title{
        margin : 50px 0 1em 1em;
        font-weight: normal;
    }
    .content_table{
        border-collapse: collapse;
        margin:10px 0;
        font-size: 0.9em;
        min-width:900px;
        border-radius: 2px 2px 2px 2px;
        overflow: hidden;
    }
    .content_table thead tr{
        background-color: #F0D2CF;
        color : black;
        text-align: left;
        font-weight: bold;
    }
    .content_table th, .content_table td{
        padding:9px 12px;
    }
    .content_table thead tr:first-of-type{
        border-top: 2px solid #C97D73;
        border-bottom: 1px solid #C97D73;
    }
    .content_table tbody tr:last-of-type{
        border-bottom: 2px solid #C97D73;
    }
    
    .table_page{
        position: relative;
        left: 50%;
        margin-left: -90px;
    }
    .table_page .icons{
        width : 20px;
        height : 20px;
    }
    .page_number{
        color : black;
    }
    .table_page_element{
        float:left;
    }
    .only_mobile{
        display:none;
    }