<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	



<mapper namespace="com.spring.mapper.ChatMemberMapper">

<resultMap type="com.spring.goodluxe.voes.ChatMemberVO" id="resultChatMemberVO">
		<result property="chat_num" column="chat_num" />
		<result property="member_id" column="member_id" />
		<result property="chat_room" column="chat_room" />
	</resultMap>
	
	
	<!-- 현재 어떤 방에 들어가있는지 데이터추가하기 -->
	<insert id="addRoomMember" parameterType="com.spring.goodluxe.voes.ChatMemberVO">
	<selectKey order="BEFORE" keyProperty="chat_num" resultType="int">
       SELECT NVL(MAX(TO_NUMBER(chat_num)),0)+1 
       FROM gl_chatmember
      </selectKey>
	INSERT INTO gl_chatmember VALUES(#{chat_num}, #{member_id}, #{chat_room})
	</insert>
	
	<!-- 현재 아이디가 어떤방에 들어가있는지 확인 -->
	<select id="getRoomMember" parameterType="com.spring.goodluxe.voes.ChatMemberVO" resultType="com.spring.goodluxe.voes.ChatMemberVO">
	SELECT member_id,chat_room
	FROM gl_chatmember
	WHERE member_id = #{member_id}
	</select>
	
	<select id="countRoomMember" parameterType="String" resultType="int" >
	select count(*)
	from gl_chatmember
	where member_id= #{member_id}
	</select>
	
	<!-- 같은 방에 존재하는 사람정보 모두가져오기 -->
	<select id="sameRoomList" parameterType="com.spring.goodluxe.voes.ChatMemberVO" resultType="com.spring.goodluxe.voes.ChatMemberVO">
	SELECT member_id, chat_room
	FROM gl_chatmember
	WHERE chat_room=#{chat_room}
	</select>
	
	
	
	<!-- 방정보 제거-->
	<delete id="deleteRoomMember" parameterType="com.spring.goodluxe.voes.ChatMemberVO">
	DELETE FROM gl_chatmember
	WHERE member_id=#{member_id	}
	</delete>
	
	<!-- 방변경 -->
	<update id="updateRoomMember" parameterType="com.spring.goodluxe.voes.ChatMemberVO">
	<if test="chat_room !=null and chat_room !=''">
	UPDATE gl_chatmember SET chat_room = #{chat_room} 
	WHERE member_id= #{member_id}
	</if>
	</update>
	
	<!-- 관리자가 볼 리스트 -->
	<select id="selectChatList" resultType="com.spring.goodluxe.voes.ChatMemberVO">
		select *
		from gl_chatmember
	</select>
	
	<!-- 룸네임을 구하기위한  -->
	<select id="selectChatroomList" parameterType="String" resultType="com.spring.goodluxe.voes.ChatMemberVO">
		select *
		from gl_chatmember
		where member_id = #{member_id}
	</select>
	
	<select id="whereisthechatroom" parameterType="String" resultType="String">
		 select chat_room
                from gl_chatmember
                where member_id = #{member_id}
	</select>
	
	
		
</mapper>
