<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mapper.MemberMapper">
	<!-- property 값이 키 값이 됨 -->
	<resultMap type="java.util.HashMap" id="hashMapVO">
		<result property="member_id" column="member_id"/>
		<result property="member_pw" column="member_pw"/>
		<result property="member_name" column="member_name"/>
		<result property="member_zipcode" column="member_zipcode"/>
		<result property="member_addr1" column="member_addr1"/>
		<result property="member_addr2" column="member_addr2"/>
		<result property="member_phone" column="member_phone"/>
		<result property="member_email" column="member_email"/>
		<result property="member_email_receive" column="member_email_receive"/> <!-- 이메일 수신 동의입니다...크흠 -->
		<result property="member_like_brand" column="member_like_brand"/>
		<result property="member_like_category" column="member_like_category"/>
		<result property="member_join_date" column="member_join_date"/>
		<result property="member_class" column="member_class"/>
		<result property="member_point" column="member_point"/>
		<result property="member_isadmin" column="member_isadmin"/>
	</resultMap>
	
	<resultMap type="com.spring.goodluxe.voes.MemberVO" id="memberRM">
		<result property="member_id" column="MEMBER_ID"/>
		<result property="member_pw" column="member_pw"/>
		<result property="member_name" column="member_name"/>
		<result property="member_zipcode" column="member_zipcode"/>
		<result property="member_addr1" column="member_addr1"/>
		<result property="member_addr2" column="member_addr2"/>
		<result property="member_phone" column="member_phone"/>
		<result property="member_email" column="member_email"/>
		<result property="member_email_receive" column="member_email_receive"/>
		<result property="member_like_brand" column="member_like_brand"/>
		<result property="member_like_category" column="member_like_category"/>
		<result property="member_join_date" column="member_join_date"/>
		<result property="member_class" column="member_class"/>
		<result property="member_point" column="member_point"/>
		<result property="member_isadmin" column="member_isadmin"/>
	</resultMap>
	
	
	<select id="userChk" parameterType="com.spring.goodluxe.voes.MemberVO" resultMap="memberRM">
		select * 
		from gl_member 
		where member_id=#{member_id}
	</select>
	
	<select id="selectMemberPoint" parameterType="com.spring.goodluxe.voes.PointVO" resultMap="memberRM">
		select member_id, member_point
		from gl_member 
		where member_id=#{member_id}
	</select>
	
	<update id="updateMemberPoint" parameterType="java.util.HashMap">
		update GL_MEMBER set member_point = #{member_point} where member_id = #{member_id}
	</update>

	<select id="selectMember" parameterType="String" resultMap="memberRM">
		select * from GL_MEMBER where member_id=#{member_id}
	</select>
	
	<update id="updateMemberpoint" parameterType="com.spring.goodluxe.voes.MemberVO">
		update GL_MEMBER set MEMBER_POINT = #{member_point} WHERE MEMBER_ID = #{member_id}
	</update>
</mapper>